body { padding-left: 100px; padding-top: 30px; padding-right: 100px;
        min-height: 100%; background-image: url(HomePics/background.jpg);
       background-repeat: no-repeat; background-size: 2000px, 100%; }
nav {padding: 0.02px 0; margin-bottom: 10px; font-size: 1.35em; 
     font-family: Old English Text MT, Georgia, 'Times New Roman', Times, serif }
nav ul {margin: 0;}
nav li {float: left; }
nav li a{width: 180px; color: black; text-align: center; font-weight: bold; 
        text-transform: uppercase; padding: 23px; }
a:visited {color: #573000; background-color:transparent; text-decoration: none}
nav a:hover {background-color: white; color: #000; text-decoration: underline;}
.resize { width: 100px; height: 100px }
h1 { line-height: 100px; font-family:Georgia, 'Times New Roman', Times, serif; background-color: #73975E; 
        text-shadow: 5px 5px 5px lightgray;}
h2 { text-decoration: underline; text-align: center;}
h3 { text-decoration: underline}
h4 {line-height: 110%; font-family: Georgia; background-color: #73975E;
        overflow: auto; color: black; font-size: 1.2em;}
h5 {margin: auto; line-height: 110%; font-family: Georgia; background-color: #73975E;
        overflow: auto; color: black; font-size: 20px; width: 300px; border: 3px solid green; }
#wrapper { margin: 0 auto; width: 100%;	min-width: auto; max-width: 1200px;
        background-image: url(HomePics/fairway.jpeg); min-height: 700px; background-repeat: no-repeat; 
        background-size: 1200px, 100%; min-width: 925px}
aside { margin-top: 30px; float: right; width: 200px; background-color: #69884C; border-radius: 20px; border: 2px; 
        border-style: solid; color: black;}
div.center {margin-right: 210px}
.logo { width: 120px; height: 120px; content: url(HomePics/golfschool.png);}
.headerLogo { height: 120px; vertical-align: middle; text-align: center;}
.leftLogo { float: left; }
.rightLogo { float: right; }
#Tampa {margin-right: 240px; margin-top: 50px; }
#Jacksonville {margin-right: 240px; margin-top: 50px; }
#Pictures { overflow: hidden; column-fill: balance}
#left {float:left; width:325px; background: #69884C; padding-left: 10px; width: 40%}
#right {float:left; width: 40%; background: #69884C; float: left; padding-bottom: 20px; padding-left: 30px }
#fillerSpace { padding: 130px}
#fillerSpace1 { padding: 20px}
#fillerSpace2 { padding: 70px}
footer {background-color: #69884C; float: bottom; width:100%; height: 55px; }
#footer {font-size: 2em; width:100%; height:20px; }
div#push {height: 80px;}
table { margin: auto; border: 5px solid #282C07; width: 500px; background-color: #F5DA6F; }
td, th { border: none; padding: none; font-family: Georgia, 'Times New Roman', Times, serif; }
tr:nth-last-of-type(odd) { background-color: #86833E;}
tr:first-of-type { background-color: #573000; color: #eaeaea; }
#required {border: 3px solid green; text-align: center; margin: auto; background-color:#69884C; 
font-family: Georgia, 'Times New Roman', Times, serif; padding: 5px; width: 300px; height: 100%;}

form { background-color:#69884C; font-family: Georgia, 'Times New Roman', Times, serif; padding: 10px;
       width: 400px; height: 275px; }
select { float: right; width: 160px; margin-top: 10px; margin-right: 80px }
label { float: left; width: 150px; clear: left; text-align: right; padding-right: 10px; margin-top: 10px; }
input, textarea { margin-top: 10px; display: block;} 
#mySubmit { margin-left: 160px; }
#centerslide {margin-top: 40px}
#golflink {width:450px; margin-left:auto; margin-right:auto }

@media only screen and (max-width: 1024px)
{
    #wrapper {min-width: 760px}    
    body { margin: 0; padding-left: 30px; background-size: 1550px, 50%; padding-right: 30px; padding-bottom: 40px }
    main { margin-left: 0; }
    nav { margin-bottom: 10px; font-size: 1em; 
     font-family: Old English Text MT, Georgia, 'Times New Roman', Times, serif }

    nav li {float: left; }
    nav li a{width: 70px; color: black; text-align: center; font-weight: bold; 
        text-transform: uppercase; padding: 23px;}
    a:visited {color: #573000; background-color:transparent; text-decoration: none}
    nav a:hover {background-color: white; color: #000; text-decoration: underline;}

}

